html{
	font-family: "Raleway", Helevetica, sans-serif;
	text-align: center;
}

body {
	max-width: 500px;
	background-color: #F3FCFF;
	margin: 0 auto;
}

h2 {
    font-weight: 800;
    color: #6E8E99;
    font-size: 2.33em;
    margin-bottom: 40px;
    padding-bottom: 0;
}

h6 {
    font-weight: 400;
    color: #4A6E77;
		margin: 20px;
    font-size: 1.00em;
}

.container {
    padding: 1.01em 25px;
}

.w3-container {
    padding: 5.01em 66px;
}
.w3-section {
    margin-top: 2px!important;
    margin-bottom: 2px!important;
}
.w3-border {
    border: 2px solid #CCC!important;
		background-color: #fff;
}


input {
	padding-top: 30px;
	padding-bottom: 35px;
	width: 378px;
	height: 60px;
	font-size: 40px;
	font-weight: 700;
	color: #2e2a25;
	border: 0;
}

input:focus {
	outline:none;
}

li {
	text-align: left;
	font-size: 40px;
	padding-bottom: 40px;
	list-style: none;
	color: #6E8E99;
	margin: 0;

}

li:hover {
	text-decoration: line-through;
	color: #4A6E77;
}
